.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fontg
{
  font-family: 'Mochiy Pop P One', sans-serif;
  padding-right: 30px;
}
.App-link {
  color: #61dafb;
}
.navbar_warpper
{
  margin-left: 30px;
  color:chocolate;
}
.navbar_warpper:hover
{
  color: darkgoldenrod;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imghover:hover
{
  width: 200px;
  height: 200px;
}
.sup
{
background-color: #DDB771;
color: #fff;
padding: 5px;
border-radius: 5px;
cursor: pointer;
}